{% extends "djangoapp/base.html" %}
<!-- -->
{% block title %} Dealership Index {% endblock %}
<!-- -->
{% block content %}
<table class='table table-bordered table-dark' id='table' data-filter-control='true'>
  <thead>
    <tr>
      <th scope='col'>ID</th>
      <th scope='col'>Dealer Name</th>
      <th scope='col'>City</th>
      <th scope='col'>Addresss</th>
      <th scope='col'>Zip</th>
      <th scope='col' data-field='state' data-filter-control='select'>State</th>
    </tr>
  </thead>

  <script>
    $(function() {$('#table').bootstrapTable()})
  </script>
  
  <tbody>
    {% for key in dealerships %}
    <tr>
      <td scope='row'>{{key.id}}</th>
      <td scope='row'><a class="link-info" href="/dealership/reviews/{{key.id}}">{{key}}</a></td>
      <td scope='row'>{{key.city}}</td>
      <td scope='row'>{{key.address}}</td>
      <td scope='row'>{{key.zip}}</td>
      <td scope='row'>{{key.st}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}